.main {
  margin-top: 8.75rem;

  .sectionTitle {
    font-family: 'Baloo 2';
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 3.375rem;
  }

  .card {
    background-color: var(--base-card);
    width: 256px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    .cardPrice {
      .groupBtn {
        background-color: var(--base-button);
        color: var(--base-button);
        border-radius: 4px;
        display: inline-flex;
        height: 2rem;
        gap: 4px;
        padding: 0.5rem;

        button {
          background-color: var(--base-button);
          color: var(--purple);
          border: none;
          font-weight: 700;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:hover {
            color: var(--purple-dark);
          }
        }

        input {
          background-color: var(--base-button);
          color: var(--base-title);
          text-align: center;

          border: none;
          width: 20px;

          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
          }
        }
      }
    }
  }
}
