.main {
  margin-top: 8.75rem;

  .sectionTitle {
    font-family: 'Baloo 2';
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 3.375rem;
  }

  .groupBtn {
    background-color: var(--base-button);
    display: inline-flex;
    gap: 0;
    margin: 0;
    border: none;
    color: var(--base-button);
    border-radius: 10px;

    div {
      height: 32px;
    }

    button {
      background-color: var(--base-button);
      color: var(--purple);
      border: none;
      border-radius: 10px;
      font-weight: 700;
      // padding-bottom: 2px;

      &:hover {
        color: var(--purple-dark);
      }
    }

    input {
      background-color: var(--base-button);
      color: var(--base-title);
      width: 1rem;
      text-align: center;
      border: none;
      padding: 0;
      min-height: 0;
      height: 32px;
    }
  }
}
