.pageContainer {
  display: flex;
  gap: 2rem;
  width: 90vw;
  justify-content: center;
  color: var(--base-title);

  h2 {
    font-family: 'Baloo 2';
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .infoContainer {
    width: 44rem;

    .sectionHeader {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: var(--yellow-dark);
      margin-bottom: 2rem;

      svg {
        min-width: 38px;
      }

      .sectionTitle {
        h3 {
          color: var(--base-subtitle);
        }

        p {
          color: var(--base-text);
        }
      }
    }

    .sectionInfo,
    .sectionCard {
      padding: 2.5rem;
      background-color: var(--base-card);
      border-radius: 6px;

      .deliveryInfo {
        .inputContainer {
          display: grid;
          gap: 1rem;
          grid-template-columns: 1fr;

          input,
          select,
          option {
            width: 100%;
            padding: 0.75rem;
            border: 1px solid var(--base-button);
            background-color: var(--base-input);
            border-radius: 4px;
            color: var(--base-text);
            font-size: 0.875rem;

            &::placeholder {
              color: var(--base-label);
            }

            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              -moz-appearance: none;
            }

            &:focus {
              border: 1px solid var(--yellow-dark);
              box-shadow: none;
            }

            &:disabled {
              background-color: var(--base-button);
            }
          }

          .firstPart {
            display: grid;
            gap: 3rem;
            align-items: center;
            grid-template-columns: 6rem auto;

            // @media (max-width: 510px) {
            //   grid-template-columns: 1fr;
            // }

            span {
              display: none;
              text-align: center;

              &.emptyInputs {
                display: flex;
                color: red;
              }
            }
          }
          .secondPart {
            display: grid;
            grid-template-columns: 1fr;
          }

          .thirdPart {
            display: grid;
            gap: 0.75rem;
            grid-template-columns: 35% auto;

            @media (max-width: 708px) {
              grid-template-columns: 1fr;
            }

            .optional {
              position: relative;
              &::after {
                content: 'Opcional';
                position: absolute;
                top: 0.75rem;
                right: 0.75rem;
                font-size: 0.75rem;
                font-style: italic;
                color: var(--base-label);
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }

          .fourthPart {
            display: grid;
            gap: 0.75rem;
            grid-template-columns: 5rem 1fr 3rem;

            @media (max-width: 510px) {
              grid-template-columns: 1fr 3rem;

              input:first-child {
                grid-column: 1 / -1;
              }
            }
          }
        }

        button {
          margin-top: 1rem;
          width: fit-content;
          padding: 0.5rem 1rem;
          background-color: var(--yellow);
          color: var(--white);
          border: none;
          border-radius: 6px;
          font-weight: 700;
          line-height: 1.6;
          cursor: pointer;
          transition: all 0.15s;

          &:hover {
            background-color: var(--yellow-dark);
          }
        }

        &.loading {
          position: relative;
          &::after {
            position: absolute;
            content: 'Carregando...';
            display: flex;
            align-items: center;
            justify-content: center;
            width: 104%;
            height: 104%;
            top: -2%;
            left: -2%;
            background-color: rgba(0, 0, 0, 0.4);
            color: white;
            font-weight: 700;
            font-size: 3rem;
            border-radius: 6px;
          }
        }
      }
    }

    .sectionCard {
      margin-top: 0.75rem;

      .sectionHeader {
        color: var(--purple);
      }

      .paymentContainer {
        display: flex;
        justify-content: center;
        gap: 0.75rem;

        .paymentBtn {
          border: none;
          background-color: var(--base-button);
          color: var(--purple);
          border-radius: 6px;
          padding: 1rem;
          width: 100%;
          display: flex;
          align-items: center;
          gap: 0.75rem;
          cursor: pointer;
          transition: all 0.15s;
          text-transform: uppercase;

          &:hover {
            background-color: var(--base-hover);
          }

          .iconBtn {
            display: flex;
            align-items: center;
          }

          p {
            text-align: start;
            font-size: 0.75rem;
            color: var(--base-text);
            width: 100%;
            font-weight: 700;
          }

          &.paymentChosen {
            background-color: var(--purple-light);
            box-shadow: inset 0 0 0 1px var(--purple-dark);
          }

          @media (max-width: 708px) {
            flex-direction: column;

            p {
              text-align: center;
            }
          }
        }
      }
    }
  }

  .sectionPurchase {
    width: 28rem;
    min-width: 25rem;

    .purchaseContainer {
      padding: 2.5rem;
      border-radius: 6px 44px;
      background-color: var(--base-card);

      .priceInfo {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        margin-bottom: 2rem;
        font-size: 0.875rem;

        div {
          display: flex;
          justify-content: space-between;

          strong {
            font-weight: normal;
          }
        }

        .priceTotal {
          display: flex;
          justify-content: space-between;
          font-size: 1.25rem;

          p,
          span,
          strong {
            font-weight: 700;
          }
        }
      }

      .groupPurchaseConfirmButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        span {
          display: none;
          transform: translateY(75%);

          &.emptyInputs {
            display: flex;
            color: red;
          }
        }
        .purchaseConfirm {
          width: 100%;
          background-color: var(--yellow);
          color: var(--white);
          border: none;
          border-radius: 6px;
          padding: 0.75rem;
          font-weight: 700;
          line-height: 1.6;
          cursor: pointer;
          transition: all 0.15s;

          &:hover {
            background-color: var(--yellow-dark);
          }
        }
      }
    }
  }

  @media (max-width: 1119px) {
    flex-direction: column;

    .infoContainer {
      width: 100%;
    }

    .sectionPurchase {
      width: 100%;
      min-width: 0;
    }
  }

  @media (max-width: 510px) {
    .sectionPurchase .purchaseContainer {
      padding: 2rem 1rem;
    }
  }
}
