.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--base-card);
  z-index: 10;
  border-bottom: 2px solid var(--purple-light);

  .options {
    display: flex;
    gap: 0.75rem;

    .mapPinIcon {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      padding: 0.5rem;
      background-color: var(--purple-light);
      color: var(--purple-dark);
      border-radius: 6px;

      p {
        font-weight: 700;
      }
    }

    .cartIcon {
      background-color: var(--yellow-light);
      color: var(--yellow-dark);
      padding: 0.5rem;
      display: flex;
      border-radius: 6px;
      cursor: pointer;
      transition: color 0.15s;
      position: relative;

      .cartItens {
        display: none;

        &.filled {
          background-color: var(--yellow-dark);
          color: var(--white);
          font-size: 0.75rem;
          font-weight: 700;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1.25rem;
          height: 1.25rem;
          border-radius: 100%;
          position: absolute;
          top: -20%;
          right: -20%;
        }
      }

      &:hover {
        color: var(--yellow);
      }
    }
  }
}
